APP_SECRET =CHANGE_ME

# Mongo DB
MONGODB_URI=mongodb://CHANGE_ME:CHANGE_ME@nosql-db:27017/products?authSource=admin

MSG_QUEUE_URL=amqp://rabbitmq

EXCHANGE_NAME=ONLINE_STORE

# Port
PORT=8002

OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
OTEL_SERVICE_NAME=products
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
